<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://www.trantect.com"title="Trantect">
	          <img src="/assets/themes/twitter/bootstrap/img/trantect.png"/>
          </a>
          <a id="blog" href="http://blog.trantect.com/">Blog</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>
      
    </div>

<footer class="footer">
 <div class="container">
		
		<div class="row">
		
			<div class="span4">
				<h2>
					<span class="slash">//</span>
					Contact Us
				</h2>
				<address>
                    <strong>Nanjing Trantect Technologies Co., Ltd.</strong><br/>
                    A242, Bld. 1, Southeast University Science Park, 6 Changjiang Backstreet<br/>
                    Nanjing, China 21008<br/>
                    <abbr title="Phone">P:</abbr> +86 25 8445 0444</br>
                    <a href="mailto:webmaster@trantect.com" style="color:#0088cc;">webmaster@trantect.com</a>
	            </address>
			</div>
			
			<div class="span4">
				</br>
				</br>
				<address>
                    <strong>南京川陀大匠信息技术有限公司</strong><br/>
                    南京市玄武区长江后街6号东南大学科技园1号楼A242室<br/>
                    <abbr title="Phone">P:</abbr> +86 25 8445 0444</br>
                    <a href="mailto:webmaster@trantect.com" style="color:#0088cc;">webmaster@trantect.com</a>
	            </address>
			</div>
			
			<div class="span4">
				<h2>
					<span class="slash">//</span>
					Follow Us
				</h2>
				<div id="social-r">
					<a>
						<img src="/assets/themes/twitter/bootstrap/img/facebook.png"/>
					</a>	
					<a> 
						<img src="/assets/themes/twitter/bootstrap/img/twitter.png"/>
					</a>
					<a href="http://weibo.com/u/2887604224?topnav=1&wvr=5&topsug=1" target="_blank">
						<img src="/assets/themes/twitter/bootstrap/img/weibo.png"/>
					</a>
				</div>
			</div>
			
		</div>
<div id="footers">
	<p>© Trantect(川陀大匠) 2012</p>
</div>
</footer>

 <!-- /container -->

    {% include JB/analytics %}
  </body>
</html>
